:root {
  --Background-lighter: #121e24;
  --Background-Darker: #0c151a;
  --Goldenheader: #e8d39b;
  --Paragraph-Blue: #cbcfdc;
  --Paragraph: #fffef6;
}

body {
  margin: 0px;
  box-sizing: border-box;
  background-color: var(--Background-lighter);
}

.wrapper {
  background-color: var(--Background-lighter);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: auto;
}

nav {
  margin-top: 9px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-end-container {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.none {
  display: none;
}

.nav_section_one {
  margin-left: 10px;
  display: flex;
  gap: 19px;
}

.navtext {
  display: flex;
  flex-direction: row;
  gap: 21px;
  color: white;
}

.navtext a {
  text-decoration: none;
}

.navtext h3 {
  color: var(--Paragraph, #fffef6);
  text-align: center;
  font-family: "Barlow";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 0;
  margin-block-start: 0px;
}

.nav_section_one .hamburger {
  display: none;
  padding-top: 5px;
}

.hamburger {
  fill: var(--Paragraph, #fffef6);
  stroke-width: 4px;
  stroke: var(--Paragraph, #fffef6);
}

img.loggapng {
  display: none;
  height: 37px;
  width: 37px;
}

.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.trailerimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
      57.58% 57.58% at 50% 42.42%,
      rgba(18, 34, 41, 0.25) 0%,
      #121e24 100%
    ),
    url("assets/images/heroimagedesktop.png");
  background-position: center;
  width: 100%;
  height: 515px;
}

.playbutton {
  background-image: url("assets/images/playbuttonDesktop.png");
  width: 79px;
  height: 79px;
  position: absolute;
  top: 168px;
}

.poster {
  background-image: url("assets/images/fightclubPoster.png");
  width: 441px;
  height: 621px;
  position: absolute;
  top: 484px;
  left: 89px;
}

h2.movietitle {
  display: none;
}

h2.movietitleDesktop {
  position: absolute;
  top: 310px;
  margin-bottom: 0px;

  color: var(--Goldenheader, #e8d39b);
  text-align: center;
  font-family: Playfair Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paragraphWindow {
  position: relative;
  text-align: center;
  color: white;
}

.sebiljetter {
  display: none;
}

p.mobileparagraph {
  /* Layout of the p-tag*/
  width: 317px;
  height: 361px;

  /* Typography */
  color: var(--Paragraph-Blue);
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-align: start;
}

.actorswrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  gap: 30px;
}

.actorswrapper .decortopleft {
  margin-right: 245px;
  z-index: 0;
}

.swiper-wrapper-movie {
  display: none;
  height: auto;
  width: 100%;
}

.swiperMovie {
  width: 100%;
  display: none;
}

.swborder {
  display: none;
}

.p-decor-bottom-right {
  transform: rotate(180deg);
}

.actorOneWrapper {
  display: flex;
  gap: 30px;
}

.actorTwoWrapper {
  display: flex;
  gap: 30px;
}

.actorThreeWrapper {
  display: flex;
  gap: 30px;
}

.actorFourWrapper {
  display: flex;
  gap: 30px;
}

.actorOne {
  width: 95px;
  height: 95px;
  border-radius: 95px;
  border: 4px solid var(--test, #e8d39b);
  background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
}

.actorTwo {
  width: 95px;
  height: 95px;
  border-radius: 95px;
  border: 4px solid var(--test, #e8d39b);
  background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
}

.actorThree {
  width: 95px;
  height: 95px;
  border-radius: 95px;
  border: 4px solid var(--test, #e8d39b);
  background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
}

.actorFour {
  width: 95px;
  height: 95px;
  border-radius: 95px;
  border: 4px solid var(--test, #e8d39b);
  background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
}

.actorpara {
  color: var(--Paragraph-Blue, #cbcfdc);
  text-align: center;

  /* Mobile Paragraph Small */
  font-family: Barlow;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.bookingwrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 0 24px;
}

.dayButton {
  display: flex;
  width: 190px;
  height: 40px;
  padding: 4px 30px 4px 30px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  border-radius: 4px;
  background: var(--Header, #f4d8a2);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.38);
}

.dayButton h2 {
  color: var(--Background-lighter, #121e24);
  text-align: center;
  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.dayButton svg .dropdownbooking {
  width: 25px;
  height: 14.103px;
  flex-shrink: 0;
}

.bookingwrapper .decortopleft {
  margin-right: 245px;
}

.footerdecor {
  background: url(assets/images/FooterDecor.png);
}

.movieSelWrapper {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
}

.seating {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
}

.seating .h2timePlace {
  color: var(--Paragraph-Blue, #cbcfdc);
  font-family: "Arya";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.smaller {
  color: var(--Paragraph-Blue, #cbcfdc);
  font-family: "Arya";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chooseSeats {
  display: flex;
  width: 138px;
  height: 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid var(--Goldenheader);
}

.movieSelH2 {
  color: var(--Paragraph, #fffef6);
  text-align: center;

  /* Mobile header */
  font-family: "Playfair Display";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.footerdecor {
  background-image: url("assets/images/FooterDecor.png");
  width: 358px;
  height: 27px;
  flex-shrink: 0;
}

.footerGradientSwitch {
  background: linear-gradient(180deg, #121e24 0%, #0c151a 100%);
  width: 100%;
  height: 28px;
  flex-shrink: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 75px;
  background: #0c151a;
}

footer img {
  margin-bottom: 14px;
}

@media (max-width: 450px) {
  body {
    margin: 0px;
    box-sizing: border-box;
  }

  .wrapper {
    background-color: var(--Background-lighter);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
  }

  svg.hamburger {
    padding-top: 5px;
  }

  img.loggapng {
    height: 37px;
    width: 37px;
  }

  svg.search {
    margin-right: 10px;
    padding-bottom: 4px;
  }

  .navtext {
    display: none;
  }

  .nav_section_one .hamburger {
    display: block;
  }

  .nav-end-container .hamburger {
    display: none;
  }

  img.loggapng {
    display: block;
  }

  .hero {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .trailerimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(
        57.58% 57.58% at 50% 42.42%,
        rgba(18, 34, 41, 0.25) 0%,
        #121e24 100%
      ),
      url("assets/images/heroimage.png");
    width: 360px;
    height: 427px;
  }

  .playbutton {
    background-image: url("assets/images/playbutton.png");
    width: 35px;
    height: 33px;
    position: absolute;
    top: 90px;
  }

  .poster {
    background-image: url("assets/images/MoviePoster.png");
    width: 110px;
    height: 178px;
    position: absolute;
    left: 25px;
    top: 189px;
  }

  h2.movietitle {
    position: absolute;
    bottom: 22px;
    color: var(--Goldenheader);
    text-align: center;
    margin-bottom: 0px;

    /* Moble Title 1 */
    font-family: Playfair Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h2.movietitleDesktop {
    display: none;
  }

  .sebiljetter {
    display: flex;
    width: 225px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      #e4bf5e -4.69%,
      #e3bb55 22.57%,
      #e3be5f 47.65%,
      #e5c46f 76.55%,
      #e5c87d 100%
    );
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.38);
  }

  p.mobileparagraph {
    /* Layout of the p-tag*/
    width: 317px;
    height: 361px;

    /* Typography */
    color: var(--Paragraph-Blue);
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    text-align: start;
  }

  .actorswrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    gap: 30px;
  }

  .actorswrapper .decortopleft {
    margin-right: 245px;
    z-index: 0;
  }

  .swiper-wrapper {
    display: flex;
    height: auto;
    width: 100%;
  }

  .swiper {
    width: 360px;
  }

  .swborder {
    align-items: start;
    height: 5px;
    background-color: var(--Goldenheader);
    z-index: 100;
    width: 360px;
  }

  .actorOneWrapper {
    display: flex;
    gap: 30px;
  }

  .actorTwoWrapper {
    display: flex;
    gap: 30px;
  }

  .actorThreeWrapper {
    display: flex;
    gap: 30px;
  }

  .actorFourWrapper {
    display: flex;
    gap: 30px;
  }

  .actorOne {
    width: 95px;
    height: 95px;
    border-radius: 95px;
    border: 4px solid var(--test, #e8d39b);
    background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
  }

  .actorTwo {
    width: 95px;
    height: 95px;
    border-radius: 95px;
    border: 4px solid var(--test, #e8d39b);
    background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
  }

  .actorThree {
    width: 95px;
    height: 95px;
    border-radius: 95px;
    border: 4px solid var(--test, #e8d39b);
    background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
  }

  .actorFour {
    width: 95px;
    height: 95px;
    border-radius: 95px;
    border: 4px solid var(--test, #e8d39b);
    background: url(assets/images/bradpitt.png), lightgray 50% / cover no-repeat;
  }

  .actorpara {
    color: var(--Paragraph-Blue, #cbcfdc);
    text-align: center;

    /* Mobile Paragraph Small */
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  .bookingwrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0 24px;
  }

  .dayButton {
    display: flex;
    width: 190px;
    height: 40px;
    padding: 4px 30px 4px 30px;
    justify-content: center;
    align-items: center;
    gap: 45px;
    border-radius: 4px;
    background: var(--Header, #f4d8a2);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.38);
  }

  .dayButton h2 {
    color: var(--Background-lighter, #121e24);
    text-align: center;
    font-family: "Playfair Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }

  .dayButton svg .dropdownbooking {
    width: 25px;
    height: 14.103px;
    flex-shrink: 0;
  }

  .bookingwrapper .decortopleft {
    margin-right: 245px;
  }

  .footerdecor {
    background: url(assets/images/FooterDecor.png);
  }

  .movieSelWrapper {
    display: flex;
    flex-direction: column;
    gap: 41px;
    align-items: center;
  }

  .seating {
    display: flex;
    flex-direction: row;
    gap: 34px;
    align-items: center;
  }

  .seating .h2timePlace {
    color: var(--Paragraph-Blue, #cbcfdc);
    font-family: "Arya";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .smaller {
    color: var(--Paragraph-Blue, #cbcfdc);
    font-family: "Arya";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .chooseSeats {
    display: flex;
    width: 138px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid var(--Goldenheader);
  }

  .movieSelH2 {
    color: var(--Paragraph, #fffef6);
    text-align: center;

    /* Mobile header */
    font-family: "Playfair Display";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .footerdecor {
    background-image: url("assets/images/FooterDecor.png");
    width: 358px;
    height: 27px;
    flex-shrink: 0;
  }

  .footerGradientSwitch {
    background: linear-gradient(180deg, #121e24 0%, #0c151a 100%);
    width: 100%;
    height: 28px;
    flex-shrink: 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 75px;
    background: #0c151a;
  }

  footer img {
    margin-bottom: 14px;
  }
}

/*FRIDA
/* hero */

button,
a {
  cursor: pointer;
}
.rightButton:hover,
.newsButton:hover,
.newsButton:hover {
  background-color: var(--Goldenheader);
  color: var(--Background-Darker);
}
.leftButton:hover {
  background-color: transparent;
  color: var(--Paragraph);
  border-color: var(--Goldenheader);
}

.indexHeroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(Media/indexHeroSmall.png);
  width: 100%;
  height: 70vh;
  max-height: 700px;
  overflow: hidden;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.leftButton {
  background-color: var(--Goldenheader);
  color: var(--Background-Darker);
  width: 90px;
  height: 30px;
  margin-top: 20px;
  font-size: 18px;
}
.rightButton {
  background-color: transparent;
  border-color: var(--Goldenheader);
  color: var(--Paragraph);
  border-style: solid;
  width: 90px;
  height: 30px;
  font-size: 18px;
}
.indexHerotext {
  text-align: center;
  position: absolute;
  text-align: left;
  max-width: 350px;
  top: 30%;
  left: 10%;
  color: var(--Paragraph);
  flex-wrap: wrap;
}
.indexHeroH1 {
  font-size: 45px;
  margin-bottom: 16px;
}
.indexHeroP {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 50px;
}

/*This is a general section */

.newsButton,
.newsletterContainer,
.indexHeader,
.offerHeader,
.newsButton,
.indexHeroH1,
.rightButton,
.leftButton,
.offerButton {
  font-family: "Playfair Display", serif;
}
.newsButton {
  color: var(--Paragraph);
}
.newsInput,
.offerParagraph,
::placeholder,
.indexHeroP {
  font-family: "Barlow", sans-serif;
}
.offerParagraph,
::placeholder {
  color: #bfc9c8;
}

/* This is where the movie section begins */
.indexHeader {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 35px;
}
.indexSwiperContainer {
  width: 100%;
  overflow: hidden;
  height: auto;
}
#swiper1,
#swiper2 {
  width: calc(100%-112px);
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.indexSwiperWrapper {
  width: 100%;
  height: 320px;
  margin-left: 0px;
  margin-right: 0px;
}
.lineContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.indexSwiperSlide {
  width: auto;
  height: auto;
  justify-content: center;
}
.moviePoster {
  width: auto;
  height: 250px;
}
.indexHeader {
  color: var(--Paragraph);
  margin-left: 24px;
  margin-top: 80px;
}

/* This is the Offer section */
.offerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.offerHeader,
.newsButton {
  color: var(--Paragraph);
}
.offerParagraph {
  color: var(--Paragraph-Blue);
}
.offerParagraph,
.newsButton {
  font-size: 16px;
  margin: 32px;
}
.offerParagraph {
  letter-spacing: 1px;
}
.offerHeader {
  font-weight: 100px;
  font-size: 30px;
}
.offerImg {
  width: 260px;
  height: auto;
  margin-left: 24px;
  margin-right: 24px;
}
.offerButton {
  background-color: transparent;
  border-color: var(--Goldenheader);
  color: var(--Paragraph);
  width: 135px;
  height: 32px;
  margin-left: 0px;
}
#offerEdgeUpper {
  margin-left: 24px;
}
#offerEdgeLower {
  margin-right: 24px;
}
#containerOfferMisc {
  display: flex;
  justify-content: flex-end;
}
/* this is where the news section begins */
.newsButton,
::placeholder {
  font-size: 14px;
}
.newsletterContainer {
  max-width: 100%;
  width: auto;
  height: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}
.newsletter {
  justify-content: center;
  flex-direction: column;
}
.newsletterHeader {
  font-size: 16px;
  color: var(--Paragraph);
}
.newsInput {
  width: 40%;
  height: 25px;
  background-color: var(--Paragraph);
  border-style: none;
  font-size: 16px;
}
.newsButton {
  width: auto;
  border-style: solid;
  border-color: var(--Goldenheader);
  background-color: transparent;
  height: 27px;
  border-radius: 4px;
}
.lineContainer {
  justify-content: center;
  display: flex;
}
.thinLine {
  width: 20%;
  margin-bottom: 45px;
  margin-top: 24px;
}
.indexBanner {
  width: 100%;
  margin-top: 45px;
}

/* The footer has icons eveny spaced out. The breakpoints can be changed later on. */
.footer {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-around;
  background-color: var(--Background-Darker);
}
@media only screen and (min-width: 700px) {
  img.loggapng {
    display: block;
    width: 37px;
    height: 37px;
  }
  .indexHeroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(Media/indexHero.png);
    width: 100%;
    height: 90vh;
  }
  .leftButton {
    background-color: var(--Goldenheader);
    color: var(--Background-Darker);
    width: 180px;
    height: 60px;
    margin-top: 20px;
    font-size: 28px;
  }
  .rightButton {
    background-color: transparent;
    border-color: var(--Goldenheader);
    color: var(--Paragraph);
    border-style: solid;
    width: 180px;
    height: 60px;
    font-size: 28px;
    margin-left: 45px;
  }
  .indexHerotext {
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 650px;
    flex-wrap: wrap;
  }
  .indexHeroH1 {
    font-size: 60px;
  }
  .indexHeroP {
    font-size: 20px;
    max-width: 700px;
    margin-left: 0px;
  }
  .indexHeader {
    font-size: 30px;
  }
  .mediaIcon {
    width: 38px;
    height: 38px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .moviePoster {
    width: 200px;
    height: 300px;
  }
  .newsletterHeader {
    font-size: 20px;
  }
  .offerImg {
    width: 350px;
    margin-left: 50px;
  }
  .offerButton {
    width: 200px;
    height: 50px;
    font-size: 24px;
    margin-left: 0px;
  }
  .offerContainer {
    display: flex;
    flex-direction: row;
  }
  .offerTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px;
  }
  .newsButton {
    width: 250px;
    height: 50px;
    font-size: 24px;
    margin-left: 0px;
  }
  .offerParagraph {
    font-size: 16px;
  }
  .offerHeader {
    font-size: 45px;
    margin-bottom: 16px;
  }
  .newsletterHeader {
    font-size: 30px;
    margin-top: 100px;
  }
  .newsInput {
    margin-bottom: 150px;
    height: 45px;
    font-size: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .indexHerotext {
    position: absolute;
    top: 40%;
    left: 5%;
    max-width: 650px;
    flex-wrap: wrap;
  }
  img.loggapng {
    display: none;
    width: 37px;
    height: 37px;
  }
  .LV {
    position: absolute;
    top: 0;
    left: 30%;
    background-image: url(Media/logoWithUndertitle.svg);
    background-repeat: no-repeat;
    height: 20vh;
    width: 100%;
  }
  .mediaIcon {
    width: 44px;
    height: 44px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .moviePoster {
    width: 250px;
    height: 370px;
  }
  .offerImg {
    width: 450px;
    margin-left: 80px;
  }

  .offerHeader {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .offerParagraph,
  .newsButton {
    font-size: 20px;
    margin-right: 80px;
  }
  #offerEdgeUpper {
    margin-left: 24px;
    width: 200px;
    padding-top: 80px;
  }
  #offerEdgeLower {
    margin-right: 24px;
    width: 200px;
  }
  .newsletterHeader {
    font-size: 30px;
    margin-top: 100px;
  }
  .newsInput {
    margin-bottom: 150px;
    height: 45px;
    font-size: 24px;
  }
  ::placeholder {
    font-size: 20px;
  }
}
